<h1>Greg Bunch</h1>

<p>It's the day after Thanksgiving 2020 and I like experimenting with programming.
	<div>It's a challenge. And I'm not very good at it.</div>
	<div>But sticking with it has taught me a lot about myself. And, about programming.</div>
</p>

<p>On Nov 28, I worked on Heroku</p>

<p>email me at greg@hey.com</p>

<p>Find me in app/views/pages/info.html.erb</p>
